html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.site-title {
	color: #fff;
	font-weight: bold;
	padding: 0px 10px;
}

.input-bar {
	padding: 15px 15px;
}

#map-canvas {
	position: relative;
	height: 80%;
	width: 100%;
	z-index: 2;
}

#head-bar, #foot-bar {
	height: 10%;
	width: 100%;
	background-color: #000000;
}

#list-panel {
	position: absolute;
	opacity: 0.7;
	right: 5px;
	top: 15%;
	z-index: 5;
	height: 35%;
	width: 250px;
	border: 1px solid #999;
	background: #fff;
}

#moreinfo-panel {
	position: absolute;
	opacity: 0.7;
	right: 5px;
	top: 55%;
	z-index: 5;
	height: 25%;
	width: 250px;
	border: 1px solid #999;
	background: #fff;
}

#appLocationHeader {
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 70%;
	max-width: 100%;
	overflow-y: scroll;
}

li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.site-wrap {
	min-height: 100%;
	min-width: 100%;
	background-color: white;
	position: relative;
	top: 0;
	bottom: 100%;
	left:0;
	z-index: 1;
}

footer,
.hamburger,
.cross {
	display: none;
}